In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [6]:
spark = SparkSession.builder.appName("PySparkDemo").getOrCreate()

23/08/29 11:52:47 WARN Utils: Your hostname, rojesh-Predator-PHN16-71 resolves to a loopback address: 127.0.1.1; using 172.16.5.57 instead (on interface wlp0s20f3)
23/08/29 11:52:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/29 11:52:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/29 11:52:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/08/29 11:52:48 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [8]:
# Define the schema for the DataFrame
schema = StructType([
StructField("Name", StringType(), True),
StructField("Age", IntegerType(), True),
StructField("Gender", StringType(), True),
StructField("Salary", IntegerType(), True)
])

In [9]:
# Create a DataFrame
data = [
("Alice", 28, "Female", 60000),
("Bob", 35, "Male", 75000),
("Charlie", 22, "Male", 50000),
("Diana", 31, "Female", 80000)
]
df = spark.createDataFrame(data, schema=schema)

In [10]:
df.show()

+-------+---+------+------+
|   Name|Age|Gender|Salary|
+-------+---+------+------+
|  Alice| 28|Female| 60000|
|    Bob| 35|  Male| 75000|
|Charlie| 22|  Male| 50000|
|  Diana| 31|Female| 80000|
+-------+---+------+------+

In [11]:
# Show the DataFrame
print("Sample data:")
df.show()


# Perform transformations
filtered_data = df.filter(df["Age"] > 25)
grouped_data = filtered_data.groupBy("Gender").agg({"Salary": "avg", "Age": "max"})


# Show transformed data
print("Transformed data:")
grouped_data.show()

Sample data:
+-------+---+------+------+
|   Name|Age|Gender|Salary|
+-------+---+------+------+
|  Alice| 28|Female| 60000|
|    Bob| 35|  Male| 75000|
|Charlie| 22|  Male| 50000|
|  Diana| 31|Female| 80000|
+-------+---+------+------+

Transformed data:
+------+-----------+--------+
|Gender|avg(Salary)|max(Age)|
+------+-----------+--------+
|Female|    70000.0|      31|
|  Male|    75000.0|      35|
+------+-----------+--------+